<h2>New Tutorial</h2>
<%= form_for [:admin, @tutorial] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: "block col-4 field" %>
  <%= f.label :description %>
  <%= f.text_area :description, class: "block col-4 field"  %>

  <h3>Videos</h3>

  <%= f.fields_for :videos, @tutorial.videos.new do |video| %>
    <%= video.label :title %>
    <%= video.text_field :title, class: "block col-4 field" %>
    <%= video.label :description %>
    <%= video.text_field :description, class: "block col-4 field" %>
    <%= video.label "YouTube ID" %>
    <%= video.text_field :video_id, class: "block col-4 field" %>
  <% end %>

  <%= f.submit "Save", class: "mt2 btn btn-primary mb1 bg-teal"  %>
<% end %>
