<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>
  <% if current_user.active? %>
    <h3>Status: Active</h3>
  <% else %>
      <h3>This account has not yet been activated. Please check your email.</h3>
  <% end %>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <%= link_to "Send an Invite", invite_path, class: "btn btn-primary mb1 bg-teal" %>
  <section>
    <h1>Bookmarked Segments</h1>
    <% current_user.bookmarks.each do |video| %>
      <li><%= link_to "#{video.tutorial.title} | #{video.title}", tutorial_path(video.tutorial.id, video_id: video.id) %></li>
    <% end %>
  </section>
  <% if current_user.github_token? %>
    <section>
      <h2>Github</h2>
        <h1>Repos</h1>
        <% @github.five_repos.each do |repo| %>
          <p><%= link_to "#{repo.name}", repo.url %></p>
        <% end %>
        <section class="followers">
          <h1>Followers</h1>
          <% @github.followers.each do |github_user| %>
          <p><%= link_to "#{github_user.name}", github_user.url %>
            <% if github_user.registered? && !github_user.friends?(current_user) %>
              | <%= link_to "Add Friend", add_friend_path(github_user.uid), method: :post %>
            <% elsif github_user.registered? && github_user.friends?(current_user) %>
              | Already friends!!!
            <% end %></p>
          <% end %>
        </section>
        <section class="following">
          <h1>Following</h1>
          <% @github.following.each do |github_user| %>
          <p><%= link_to "#{github_user.name}", github_user.url %>
            <% if github_user.registered? && !github_user.friends?(current_user) %>
              | <%= link_to "Add Friend", add_friend_path(github_user.uid), method: :post %>   
              <% elsif github_user.registered? && github_user.friends?(current_user) %>
              | Already friends!!!         
            <% end %></p>
          <% end %>
        </section>
    </section>
    <% else %>
      <section>
        <br><br><%= button_to "Link to Github", github_login_path, class: "btn btn-primary mb1 bg-teal" %>
      </section>
  <% end %>
</section>
